In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
df=pd.read_csv(r"country - country.csv")

In [5]:
df

          Country  Corruption_Index  Gini_Index
0       Hong Kong                77        53.7
1     South Korea                53        30.2
2           China                40        46.2
3           Italy                47        32.7
4        Mongolia                38        36.5
5         Austria                75        27.6
6          Norway                85        23.5
7              UK                81        31.6
8          Canada                82        33.7
9         Germany                81        30.7
10         Sweden                88        25.4
11        Denmark                90        27.5
12         France                69        30.1
13  United States                74        40.8
14         Russia                29        40.1
15       Portugal                62        34.2
16        Romania                48        34.0
17      Argentina                36        42.7
18         Greece                44        34.2
19       Thailand                35        39.4

In [9]:
df1=df.drop(columns=["Country"])

In [11]:
df1.corr()

                  Corruption_Index  Gini_Index
Corruption_Index           1.00000    -0.46391
Gini_Index                -0.46391     1.00000

In [12]:
import statsmodels.api as sm

In [13]:
x=df[["Gini_Index"]]

In [16]:
x1=sm.add_constant(x)

In [18]:
y=df[["Corruption_Index"]]

In [19]:
mod=sm.OLS(y,x1).fit()

In [22]:
print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Corruption_Index   R-squared:                       0.215
Model:                            OLS   Adj. R-squared:                  0.172
Method:                 Least Squares   F-statistic:                     4.936
Date:                Mon, 02 Dec 2024   Prob (F-statistic):             0.0394
Time:                        18:24:51   Log-Likelihood:                -85.965
No. Observations:                  20   AIC:                             175.9
Df Residuals:                      18   BIC:                             177.9
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        106.6950     20.682      5.159      0.000      63.243     150.147
Gini_Index    -1.2952      0.583     -2.222      0.039      -2.520      -0.070
==============================================================================
Omnibus:                        1.213   Durbin-Watson:                   1.192
Prob(Omnibus):                  0.545   Jarque-Bera (JB):                1.005
Skew:                           0.333   Prob(JB):                        0.605
Kurtosis:                       2.127   Cond. No.                         175.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [23]:
#With every change in the gini index there is the decrease in the corruption index by 1.295

In [ ]:
#There is the significant difference if alpha value is 0.1 as we will reject the null hypothesis

In [28]:
mod.predict([1,2])-mod.predict([1,3])

array([1.29519317])